<nb-card>
  <nb-card-header>
    Modifier Facture
  </nb-card-header>

  <nb-card-body>
    <div class="content-row">
      <div class="alert alert-danger" style="margin-top: 3px" *ngIf="montantSuperieur">
        {{montantSuperieur}}
      </div>
    </div>
    <ng2-smart-table  [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
