<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div id="loginbox" class="mainbox col-md-4 col-sm-8 ">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">LogIn</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" class="alert alert-danger col-sm-12"></div>
        <div id="login-alert" class="alert alert-danger" *ngIf="mode==1">
        <strong>Merci de Verifier votre Login ou MotDePasse</strong>
      </div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Login est obligatoire</div>
          <div id="login-alert" class="alert alert-danger" *ngIf="f.username.errors.required">
            <strong>Merci de Verifier votre Login ou MotDePasse!</strong>
          </div>
        </div>
        <form [formGroup]="loginForm"  #b="ngForm"(ngSubmit)="onLogin(b.value)">

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" id="login-username" formControlName="username" class="form-control" placeholder="login" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Login est obligatoire</div>
            </div>
          </div>

          <div style="margin-bottom: 25px" class="input-group">

              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="login-password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  placeholder="mot de passe">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Mot De Passe est obligatoire</div>
            </div>
          </div>





          <div style="margin-top:10px" class="form-group">
            <!-- Button -->

            <div class="col-sm-12 controls">
              <!-- <a id="btn-login" href="#" type="submit" class="btn btn-success">Login  </a>-->
              <div class="form-group">
                <button  class="btn btn-primary" type="submit">Login</button>
                <button  [routerLink]="['/auth/register']" class="btn btn-primary">Register</button>
              </div>
            </div>
          </div>

        </form>



      </div>
    </div>
  </div>

</div>
